nav {
    
    border: white solid 5px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    color: rgba(255, 255, 255, 0.795);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
}

.item:hover{
    background-color:grey;
    opacity: 0.5;
}

body{
    background-color: #00ffd0;
}

.center{
    display: flex;
    justify-content: center;
}
.History{
    width: 750px;
    height: 300px;  
    padding: 25px;
    border: #1e3dec solid 5px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hi2{
    font-size: 25px;
}