nav {
    
    border: white solid 5px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    color: rgba(255, 255, 255, 0.795);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
}

.item:hover{
    background-color:grey;
    opacity: 0.5;
}

body{
    background-color: #00ffd0;
}

.screen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.words1{
    font-size: 25px;
    background-color: #00aeff;
    border: #1e3dec solid 10px;
    display: flex;
    flex-direction: column;
}

